.cont {
	width: 15rem;
	height: 33rem;
	background-color: #abaeb3;
	padding-top: 0.58rem;
}
.checkbox_cont {
	background-color: #c4c4c4;
	height: 28.2rem;
	padding-top: 0.6rem;
	width: 12rem;
	margin: 0 auto;
}
.camtitle {
	color: #4c5059;
	text-align: center;
	margin-bottom: 0.41rem;
}
.checkbox_item {
	line-height: 1rem;
	font-size: 1rem;
	padding: 0.7rem;
	margin: 0.41rem;
	height: 2rem;
}
