.cont {
	width: 25rem;
	height: 14.12rem;
	position: relative;
}
.video_cont {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: 0.04rem solid #e4e1e1;
}
.video_16_9 {
	width: 100%;
}
.video_4_3 {
	width: 75%;
}
.video_default {
	width: 50%;
}
.header {
	background: transparent;
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 97%;
	margin: 0.3rem;
}
.showoption {
	display: none;
}
.videooption {
	position: absolute;
	display: flex;
	right: -3rem;
	top: 1.33rem;
	flex-direction: column;
}
.icon {
	width: 1.66rem;
	height: 1.66rem;
	margin-top: 1rem;
}
.rec_icon {
	position: absolute;
	right: 0.2rem;
	top: 0.2rem;
	width: 1.66rem;
	height: 1.66rem;
	margin: 0;
}
.footage {
	font-size: 0.8rem;
	padding: 0;
	height: 1.2rem;
	margin-left: 0.2rem;
}
